:root {
    font-family: 'Noto Sans', sans-serif;
    --left-bar-colour: #000000;
    --nav-colour: #151515;
    --body-colour: #1b1b1b;
    --text-colour: #FFFFFF;
    --btn-bg-colour: #FFFFFF;
    --btn-bg-text-colour: #000000;
    --sq-card-bg-colour: #222222;
    --sq-card-bg-hover-colour: #2C2C2C;
    --btn-hover-text-colour: #1db954;
    --left-hover-text-colour: #1db954;
    --search-bar-shadow: #26da65;
    --search-bar-shadow1: #49f384;
    --song-hover: #6d6d6d;
}
.designForSearching {
    display: grid;
    flex-direction: column-reverse;
    grid-template-columns: 13fr 2fr 2fr;
}
.search{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.darkTheme{
    width: 100%;
    direction: rtl;
}
.signinBtnContainer{
    width: 100%;
    direction: rtl;
}
input[name="searchBar"] {
    padding: 15px 20px;
    width: 80%;
    border-radius: 30px;
    border: none;
    
}
input[name="searchBar"]:hover {
box-shadow: 0 0 2px var(--left-hover-text-colour),
                0 0 4px var(--search-bar-shadow),
                0 0 6px var(--search-bar-shadow1);
}
::placeholder{
    font-weight: bolder;
}
table{
    border-collapse: collapse;
    margin-left: 8vw;
    width: 56%;
}
table tr{
    padding: 0;
}
table td{
    padding: 10px;
    word-wrap:break-word;
    width: 56%;
}

table td:hover{
    cursor: pointer;
    background-color: var(--song-hover);
    border-radius: 50px;
}